.generes{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: #211F27;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
    width: 35%;
}
.genere{
    padding: 18px 30px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gen{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    grid-auto-rows: (50px, auto);
}