.TopArtist{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(33, 31, 39);
    padding: 30px 20px;
    border-radius: 5px;
}
.artists{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
