.TopArtist{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(33, 31, 39);
    padding: 30px 20px;
    border-radius: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.artists{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.left{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.see-all{
    font-size: 12px;
    font-weight: 600;
    color: #a2a2a2;
}