.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #26252C;
    padding: 0 5px 0px 0;
    border-radius: 5px;
    scale: 1.2;
}
.profile-pic{
    padding: 3px 5px;
    background-color: #333333;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pic>img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 3px;
}